@import "../../../public/styles/variables.scss";

.chat {
  &-infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $medical-blue;
    border-radius: 4px 4px 0 0;
    height: 50px;
    width: 100%;

    &-onlineIcon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #fff;
      fill: rgb(41, 199, 26);
      padding: 5px;
      margin-right: 1rem;
    }

    &-leftInnerContainer {
      flex: 0.5;
      display: flex;
      align-items: center;
      margin-left: 5%;
      color: white;
    }

    &-rightInnerContainer {
      display: flex;
      flex: 0.5;
      justify-content: flex-end;
      margin-right: 5%;
    }

    &-closeIcon {
      width: 1.2rem;
      height: 1.2rem;
      fill: #fff;
    }
  }

  &-roomName {
    margin-top: 0;
  }

  &-header {
    background-color: $medical-yellow;
    margin: 0;
    height: 40px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-container {
    height: 53vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid $medical-blue;
    box-shadow: 0 4px 15px $shadow-black;
    transition: all 0.5s ease;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  }
  &-messages {
    overflow: auto;
    flex: auto;
  }
  &-button {
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 20px;
    min-width: 60px !important;
    min-height: 60px;
    background: $medical-dark-blue;
    border: none;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    &:after {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 6px solid #00ffcb;
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
    &:hover::after {
      animation: none;
      display: none;
    }
    &-logo {
      fill: #fff;
      height: 30px;
      height: 30px;
    }
  }
  &-formMsg {
    background-color: $medical-blue;
    border-top: 2px solid $medical-blue;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-msgSend {
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    width: 85%;
    font-size: 1em;
    margin: 0;
    height: 3vh;
    outline: none;
    &::-webkit-input-placeholder {
      font-size: 1rem;
      font-style: italic;
      opacity: 0.2;
    }
  }
  &-sendButton {
    outline: none;
    cursor: pointer;
    background-color: $medical-dark-blue;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    padding: 0.75rem;
    border: 2px solid #fff;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    &:hover {
      background-color: #fff;
      border: 2px solid $medical-dark-blue;
    }
    &:hover svg {
      fill: $medical-dark-blue;
    }
  }
  &-btnSend {
    fill: #fff;
    width: 1.7rem;
    height: 1.7rem;
    transition: all 0.2s;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
}

@keyframes ring {
  0% {
    width: 1px;
    height: 1px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.chat-bottom {
  bottom: 0;
  position: absolute;
  display: block;
}

.none {
  display: none;
}