@import "../../../public/styles/variables.scss";

.chatHeader {
  background-color: $medical-yellow;
  margin: 0;
  padding: 5px;
}

.chatContainer {
  height: 53vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 6.5rem;
  right: 1.5rem;
  border-radius: 8px;
  border: 2px solid $medical-dark-blue;
  box-shadow: 0 4px 15px $shadow-black;
}
