@import "../../../public/styles/variables.scss";

.chatHeader {
  background-color: $medical-yellow;
  margin: 0;
  padding: 5px;
}

.chatContainer {
  height: 53vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid $medical-blue;
  box-shadow: 0 4px 15px $shadow-black;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.buttonToShow {
  position: absolute;
  top: 100px;
  right: 20px;
  min-width: 60px !important;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.buttonToShow:after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
.chatLogo {
  fill: #fff;
  height: 30px;
  height: 30px;
}
.buttonToShow:hover::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
