@import "../../../public/styles/variables.scss";

.onlineIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
}
h3 {
  margin-top: 0;
}

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $medical-dark-blue;
  border-radius: 4px 4px 0 0;
  height: 50px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
.closeIcon {
  width: 1.2rem;
  height: 1.2rem;
  fill: #fff;
}

::-webkit-input-placeholder {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.2;
}
