@import "../../../public/styles/variables.scss";

#intro {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;

  max-width: 1200px;
  margin: 0 auto;
}

#intro-area {
  width: 50%;
  font-size: 1.5rem;
  color: #656565;
  line-height: 2rem;
}

#intro span {
  font-size: 3.5rem;
  font-weight: 600;
  color: $medical-blue;
  margin-bottom: 1rem;
  position: relative; // Overwrite semantic ui
}

#intro svg {
  height: 80%;
  width: 50%;
}

#intro button {
  // width: 50%;
  margin: 0.5rem;
}
