@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#search-container {
  height: 70vh;
  padding: 0 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://media1.giphy.com/media/7OM8aqLAr2xQ4/giphy.gif") no-repeat
      center;
  background-size: cover;
  position: relative;
}

#search-form {
  z-index: 1000000;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2rem;
  border-radius: 10px;
  font-family: "Poppins" !important;
}

#search-header {
  font-family: "Poppins" !important;
  color: #f2f3f4;
  font-weight: 400;
  font-size: 2.5rem;
}

#search-form button,
input {
  margin-top: 1rem;
}

#search-form input::-webkit-input-placeholder {
  font-family: "Poppins";
  font-size: 14px;
}

#search-form button {
  width: 100%;
}

#search-container svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
