#search-container {
  height: 70vh;
  padding: 20%;
  display: flex;
  align-items: center;
  background: url(./img/search-bg-0.png) no-repeat center;
  background-size: cover;
  position: relative;
}

#search-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

#search-form button, input{
  margin-top: 1rem;
}

#search-form button {
  width: 100%;
}

#search-container svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}