@import "../../../public/styles/variables.scss";

.react-calendar {
  border: 3px solid $medical-dark-blue;
  box-shadow: 0 4px 15px $shadow-black;

  &__navigation {
    background-color: $medical-dark-blue;
    margin-bottom: 0;
  }
  &__tile {
    font-size: 1.3rem;
    border-radius: 10px;
    &--active {
      background-color: $medical-dark-blue;
    }
    &:hover {
      background-color: red;
    }
  }
  &__month-view__weekdays {
    padding: 0.5rem 0;
    font-size: 1.15rem;
    background-color: $medical-yellow;
  }
}
