@import "../../../../public/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
// @import "styles/mixins.scss";
// @import "styles/animations.scss";

$appointment-height: 11rem;

.appointment {
  font-family: "Ubuntu", sans-serif;
  &__add {
    display: flex;
    margin: 50px;
    &-button {
      cursor: pointer;
      fill: $medical-dark-blue;
      width: 4rem;
      height: 4rem;
    }

    //   &:hover {
    //     @include button-active--opacity;
    //   }
    // }
  }

  &__time {
    display: flex;
  }

  &__separator {
    border: 0;
    border-bottom: 1px solid darken($white, 5%);
    width: 100%;
    margin-left: 1rem;
  }

  &__card {
    min-height: $appointment-height;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    color: $white;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 50%;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &--create {
      margin: 60px 20px;
      background-color: #fce762;
      border: 2px solid black;
      width: 40%;
      display: flex;
    }

    &--show {
      margin: 60px 20px;
      width: 40%;
      color: $medical-dark-blue;
      display: flex;
      flex-direction: column;

      background: linear-gradient(
        90deg,
        rgba($medical-blue, $active-opacity),
        rgba($medical-blue, $active-opacity) 8px,
        rgba($medical-blue, $inactive-opacity) 0,
        rgba($medical-blue, $inactive-opacity)
      );

      &:hover {
        color: darken($white, 5%);
        background-color: $medical-dark-blue;
      }
    }

    &--status {
      background-color: $dark-background;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--confirm {
      // @include border-card($danger-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--error {
      // @include border-card($error-color);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &:last-of-type &__add,
  &:last-of-type &__card {
    display: none;
  }

  &__actions {
    margin-top: 1rem;

    &-button {
      // @include button-inactive--opacity;
      width: 2rem;
      height: 2rem;
      fill: white;
      margin-top: 1rem;
      margin-right: 2rem;
      display: none;

      // &:hover {
      //   // @include button-active--opacity;
      // }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__card:hover &__actions-button {
    display: inline;
  }

  &__create-input {
    font-family: "Ubuntu", sans-serif;
    background-color: #fce762;
    border: none;
    font-style: italic;
    font-size: 1.9rem;
    font-weight: bold;
    margin: 2rem 4rem 0 0;
    width: 100%;

    &:hover {
      border: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__status-image {
    margin-right: 2rem;
    animation: rotate 1s linear infinite;
  }

  &__error {
    &-message {
      display: flex;
      flex-direction: column;
    }

    &-close {
      // @include button-inactive--opacity;

      align-self: flex-start;
      // &:hover {
      //   // @include button-active--opacity;
      // }
    }
  }

  &__validation {
    color: $danger-color;
    margin-bottom: 1rem;
  }
}

.react-calendar {
  font-family: "Ubuntu", sans-serif;
  margin: 1.5rem;
  border-radius: 5px;
  width: 40% !important;
}
label {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  color: black;
}
