@import "../../../../public/styles/variables.scss";

h3 {
  text-align: center;
}
.timeBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.timeSlot {
  width: 25%;
  height: 50px;
  position: relative;
  background: #fff;
  margin: 1.5rem 0.5rem;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: rgb(90, 90, 90);
  box-shadow: 6px 6px 8px rgba($medical-dark-blue, 0.2);
  font-weight: bold;
  font-style: italic;
  transition: all 0.1s ease-in-out;
  border: 2px solid rgba($medical-blue, 0.4);
  outline: none;

  &-outerContainer {
    display: flex;
    border: 3px solid $medical-blue;
    border-radius: 10px;
    width: 63%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    background-color: #ffffff;
  }

  &:hover {
    opacity: 0.3;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8),
      3px 3px 5px rgba(76, 139, 255, 0.582);
  }
  &:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 4px 4px 8px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
  }

  &:disabled {
    box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.5),
      inset 4px 4px 16px rgba(0, 0, 0, 0.1);
    color: #e0e0e0;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &-header {
    width: 100%;
    text-transform: uppercase;
    background-color: $medical-blue;
    padding: 0.7rem;
    margin: 0;
    text-align: right;
    color: #fff;
  }

  &-time {
    font-size: 18px;
    font-weight: semibold;
  }
}

.timeSlots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btnContainer {
  position: relative;
}
.close-booking {
  outline: none;
  position: absolute;
  cursor: pointer;
  top: -25px !important;
  right: 22px !important;
  width: 27px;
  height: 27px;
  border-top-right-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  background-color: rgba(255, 0, 0, 0.678) !important;
  color: #fff;
  border: none;
  font-weight: bold;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.close-booking svg {
  width: 0.7rem;
  height: 0.7rem;
}
.close-booking:hover {
  background-color: red;
}
