@import "../../../public/styles/variables.scss";

.dsh-button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  background: $medical-blue;
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  transition: all 0.5s;
  border-radius: 10px;
  outline: none;

  &:hover {
    background: white;
    transition: all 0.5s;
    color: $medical-blue;
    svg {
      fill: $medical-blue;
    }
  }
}

.svg-dashboard {
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.5s;
}
