@import "../../../public/styles/variables.scss";

#logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  background: $medical-blue;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  transition: all 0.5s;
  border-radius: 10px;
  outline: none;

  &:hover {
    background: white;
    transition: all 0.5s;
    color: $medical-blue;
    svg {
      fill: $medical-blue;
    }
  }
}

.logout-svg {
  width: 2rem;
  height: 2rem;
  transition: all 0.5s;
}
