@import "../../../public/styles/main.scss";
@import "../../../public/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap");

nav {
  height: 90px;
  background-color: $medical-blue;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

nav svg {
  fill: #fff;
  height: 3rem;
  width: auto;
}
.navigation-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-text {
  font-family: "Sansita Swashed", cursive;
  margin-left: 0.7rem;
  color: white;
  font-size: 2.3rem;
  display: flex;
  flex-direction: column;
  & span {
    margin-top: 0.5rem;
  }
}

.nav-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 2rem;
}
.welcome-name {
  font-weight: normal;
}
