@import '../../../public/styles/main.scss';
@import '../../../public/styles/variables.scss';

nav {
  height: 70px;
  background-color: $medical-blue;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

nav svg {
  fill: #fff;
  height: 3rem;
  width: auto;
  float: left;
}