@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import '../../../public/styles/variables.scss';

#covid {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
}

#covid-message {
  top: 50%;
  width: 40%;
  font-family: 'Domine';
  font-size: 1.5rem;
  color: #656565;
  line-height: 2rem;
}

#covid-message span {
  font-size: 3.5rem;
  font-weight: 600;
  color: $medical-blue;
}

#covid svg {
  height: 50%;
}