@import '../../public/styles/main.scss';
@import '../../public/styles/variables.scss';

nav {
  height: 70px;
  background-color: $medical-blue;
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav svg {
  fill: #fff;
  height: 3rem;
  width: auto;
  float: left;
}