#video-container {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: relative;
}

#user-video {

}

#partner-video {
  height: 100px;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

#hangup-button {
  background: none;
  border: none;
}

#hangup-svg {
  height: 4rem;
  width: auto;
}