.pet-image {
  height: 100px; 
  width: auto; 
  border: 1px solid rgba(34,36,38,.2);
  border-radius: 50%;
  -webkit-box-shadow: 7px 9px 17px -10px rgba(135,135,135,1);
  -moz-box-shadow: 7px 9px 17px -10px rgba(135,135,135,1);
  box-shadow: 7px 9px 17px -10px rgba(135,135,135,1);
  padding: 4px;
}