.thOwner {
  font-size: 1.3rem;
}

.tdOWner {
  text-align: right;
}
.tableOwner {
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem;
}
.ownerInfoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;
  height: 5rem;
  width: 5rem;
  border-radius: 50% !important;
  border: 1px solid purple !important;
}
